

.container-of-movies{
    width: 100%;
    height: 100%;
};



p{
    margin: 0;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  padding: 16px 10px;
}

@media (min-width: 640px) {
  .grid-cards {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid-cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.divider{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
}

.image-container {
  position: relative;
  display: inline-block;
}

.thumbnail {
  border-radius: 15px;
  width: 100%;
  display: block;
}

.bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* optional for contrast */
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
